/* Sector: Main NewTask classes: */

.newTaskPage {
  margin-top: 2rem;
  padding: 1rem 0;

  /* background-color: var(--color-grey-l2); */
}

.newTaskPage h2 {
  color: var(--color-text);

  font-size: 2rem;

  margin-top: 3rem;
}

.inputCont {
  width: 100%;
  height: 5rem;

  margin-top: 3rem;

  position: relative;
}

.taskInput {
  width: 100%;
  height: 100%;

  border: none;
  outline: none;
  border-bottom: 1px solid var(--color-prim);

  font-size: 1.4rem;

  color: var(--color-txt-l3);
}

.taskInput:focus {
  border-color: var(--color-secn);
}

.taskInput:focus ~ .taskInputBtn {
  color: var(--color-prim);
  background-color: var(--color-secn);
}

.taskInput:focus ~ .taskInputBtn:hover {
  background-color: var(--color-secn-d1);
}

/* ************************ */
.placeholder {
  display: inline-block;
  position: absolute;
  left: 0;
  color: var(--color-txt-l3);
  z-index: 1;
  transition: all 0.2s linear;
}

.taskInput + .placeholder {
  top: 31%;
}
.taskInput:focus + .placeholder,
.taskInput:valid + .placeholder {
  color: var(--color-secn);
  top: -20%;
}

/* ******* */

.taskInputBtn {
  padding: 0rem 2rem;
  height: 100%;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;

  font-size: 1.4rem;
  text-transform: normal;

  color: var(--color-wht);
  background-color: var(--color-prim);

  border: none;

  cursor: pointer;

  transition: all 0.1s linear;
}

.tasksCont {
  width: 100%;
  margin-top: 3rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.deleteAllCont {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.deleteAllCont span {
  padding: 1rem 2rem;

  background-color: var(--color-prim);
  color: var(--color-wht);

  border-radius: 0.5rem;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: .3rem;

  transition: all .1s linear;
}

.deleteAllCont span:hover {
  background-color: var(--color-prim-l1);
}

.deleteAllIcon{
  width: 1.9rem;
  height: 1.9rem;
}
