/* Sector: Spinner main classes */

.spinnerContainer {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 4rem;
  height: auto;
}
