/* Sector: Main Tasks classes: */

.tasksPage {
  width: 100%;
}

.tasksCont {
  width: 100%;

  padding: 2rem 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.header {
  width: 100%;

  margin-top: 3rem;

  color: var(--color-prim);

  text-align: center;
}

.header h2 {
  font-size: 3rem;
}

.header h2 span {
  position: relative;
}

.header h2 span::after {
  content: "";
  width: 105%;
  height: 1rem;

  background-color: var(--color-four);

  position: absolute;
  bottom: 0;
  left: -3%;
  z-index: -1;
}

.noTasksMessage {
  font-size: 1.6rem;

  margin-top: 3rem;
}

.noTasksMessage span {
  text-decoration: underline;
}
